@import '~bootstrap/scss/bootstrap';

*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    background: rgba($color: aqua, $alpha: 1.0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

}

.game-board {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 350px;
    width: 350px;
    justify-content: center;

}

h1{
    color: goldenrod;
    justify-content: center;
    font-size: 75px;
    font-weight: bold;
}
.board{
    
    align-items: center;
    border: 10px solid black;
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    font-weight: bold;
    height: 180px;
    justify-content: center;
    transition: backround 0.2s ease-in-out;
    width: 180px;
}

.board:hover{
    background: goldenrod;
    cursor: pointer;
    
}


#sign-up-form {
    justify-content: center;
    align-items: center;
}



h3 {
    
    align-items: center;
    color:goldenrod;
    @import '~bootstrap/scss/bootstrap';


.container {
    align-items: center;
    background: rgba($color: aqua, $alpha: .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

}

.game-board {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 350px;
    width: 350px;
    justify-content: center;

}

.occupied:hover {
    background: purple;
}



.playerWin{
    color: green;

}

.computerWin{
    color:red;
}

.tie {
    color: blue;
}

    
#square_0{

    border-top: hidden;
}
#square_1{

    border-top: none;
}
#square_2 {
  border-top: none;
}

#square_0,
#square_3,
#square_6 {
  border-left: none;
}

#square_6,
#square_7,
#square_8 {
  border-bottom: none;
}

#square_2,
#square_5,
#square_8 {
  border-right: none;
}
       
    }